@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  background-image: linear-gradient(to Left,#E98AEF 5.66%, #85C1E9 94.35%);
  margin-right: 3px;
}

* {
  margin: 3;
  margin-left: auto;
  font-family: 'Andale Mono', monospace;
}
.tr{
    background-color: #16181e;
    color: #999;
    right: 3%;
    width: auto;
    border-collapse: collapse;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
}
.leaderboard {
  width:110%;
  border-radius: 1rem;
  margin-right: 30px;
  box-shadow: 2px 2px 16px 1px #aaa;
}

a {
  text-decoration: none;
  color: inherit;
}
html{
  font-family: monospace;
}
header {
  background-image: linear-gradient(to Left,#F7AFFC 5.66%, #AED6F1 94.35%);
  text-transform: uppercase;
  height: 18rem;
  position: relative;
  width: auto;
  border-radius: 50px 50px 0px 0px;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  position: absolute;
  margin-left: 3rem;
  top: 4rem;
}

img {
  height: 18rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
}

nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 30px;
  background-image: linear-gradient(to Left,#F7AFFC 5.66%, #AED6F1 94.35%);
}

nav a {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  display: inline-block;
  font-weight: bold;
}

nav a.active {
  border-bottom: 4px solid #C39BD3;
}

nav a:first-child {
  margin-left: 3rem;
}

nav a + a {
  margin-left: 1rem;
}

table {
  background-image: linear-gradient(to Left,#F7AFFC 5.66%, #AED6F1 94.35%);
  margin-right: 30px;
  width: 100%;
  height: 70;
  border-collapse: collapse;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

thead {
  font-size: 1rem;
  color: #616A6B;
  text-transform: uppercase;
}

tbody .nick {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

tbody tr:nth-child(2n) {
  background-color: #1f232c;
}

.nick {
  text-align: left;
  font-size: 29px;
}

.rank,
.sp,
.kd {
  text-align: right;
  font-size: 35px;

}

.rank {
  width: 4ch;
  padding-left: 1rem;
}

.sp,
.kd {
  width: 150000ch;
}

th {
  padding: 1.5rem 1rem 0.5rem;

}

td {
  padding: 1rem 1rem;
  font-weight: bolder;
  border-top: 1px solid;
  border-color: inherit;

}
.leaderboard {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 4px 2px 16px 1px #F5EEF8;
    font-family: sans-serif;
}
table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 30px;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}
table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    margin-right: 30px;
    border-collapse: collapse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}
tbody .nick {
    color: white;
    font-weight: bold;
    font-size: 5rem;
}
.hiddenButton{
  padding-left: 30px;
  border: none;
  background: none;
  color:#AED6F1;
}

/*inputBox*/
input[type=text], select {
  width: 99%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  padding: 20px;
  margin-left: 5px;
  font-size: 30px;
}
input[type=email], select {
  width: 99%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  padding: 20px;
  margin-left: 5px;
  font-size: 30px;
}

input[type=submit] {
  width: 100%;
  background-color: #BABAF4;
  color: white;
  margin: 1px 0;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  border: #9483FB;
  background: #68A1CB;
  padding: 8px;
  width: 200px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 35px;
  font-weight: bold;
}
input[type=submit]:hover{
  background-color:#D1D1F8;
  color:white;
  border: 2px solid #D1D1F8;
}
label{
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: bold;

}
#leaderboard{
  border-style:solid;
  border: #D3D3D3 1px;
  border-radius: 30px;
}
#score{
  font-size: 29px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight:bolder;

}
.leaderboard{
  margin-top: 300px;
  margin-left: 110px;
  width: 80%;
  border-radius: 50px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#text{
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
